<br>
<form class="align-items-center" novalidate>
    <div class="d-flex align-items-center servicio-aling">
      <label class="titulo">
          Servicio:
      </label>
      <div class="col-sm-9 d-flex row"> 
        <select class="ng-select tamano folio-c" aria-label="Default select example">
          <option selected disabled>Seleccione un servicio</option>
          <option value="1" class="color-op">FOLIOS VEITE VEINTIDOS</option>
          <option value="2" class="color-op">Serie especial gobernacion</option>
          <option value="3" class="color-op">Tesorería</option>
        </select>
      </div>
    </div>
  </form>