.element.style {
    padding-top: 0.1rem;
    padding-left: 0.1rem;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.ng-select {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ng-select {
    border: 1px solid #ff8600;
    border-bottom-right-radius: 0.5rem;
}
* {
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
}
.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
div {
    display: block;
}
.tamano {
    height: 36px;
    max-width: 99.5%;
    margin: 1px 0 1px 1px;
}
.folio-c {
    border: px solid #ff8600;
    border-radius: 0.5rem;
    
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #bdbdbd;
    background-color: #fff;
    background-image: none;
   
    
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    height: 45px;
    font-size: 18px;
    margin-left: 40px;
    font-weight: 300;
}
.servicio-aling {
    display:flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.form-control{
    background-color:  rgb(250, 250, 250);
   
}
.color-op {
    color: black;
}
